.hero {
  /* border: 1px solid red; */
  margin-top: -6rem;
}

.empty__list {
  text-align: center;
  margin-top: 5rem;
  animation-iteration-count: infinite;
  animation-name: glitch-pop;
  animation-duration: 1s;
}

.empty__list p {
  font-size: 1.4rem;
  color: #000;
}

@keyframes glitch-pop {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.cards__section {
  display: grid;
  grid-template-columns: repeat(4, minmax(300px, 1fr));
  place-items: center;
  grid-gap: 1.5rem;
  padding: 0 2rem;
  margin-top: 10px;
  /* border: 1px solid red; */
  margin-bottom: 5rem;
}

/*Responsive*/

/*1340px*/
@media screen and (max-width: 1340px) {
  .cards__section {
    grid-template-columns: repeat(3, minmax(300px, 1fr));
  }
}

/*1024px*/
@media screen and (max-width: 1024px) {
  .cards__section {
    grid-template-columns: repeat(2, minmax(300px, 1fr));
  }
}

/*768px*/
@media screen and (max-width: 768px) {
  .cards__section {
    grid-template-columns: repeat(1, minmax(300px, 1fr));
  }
  .empty__list p {
    font-size: 1.2rem;
  }
}

/*480px*/
@media screen and (max-width: 480px) {
  .cards__section {
    padding: 0 0.5rem;
  }
  .empty__list p {
    font-size: 1rem;
  }
}

/*320px*/
@media screen and (max-width: 320px) {
  .cards__section {
    padding: 0 0.2rem;
  }
}
