.hero{
  /* border: 1px solid red; */
  margin-top: -6rem;
}

.cards__section {
  display: grid;
  grid-template-columns: repeat(4, minmax(300px, 1fr));
  place-items: center;
  grid-gap: 1.5rem;
  padding: 0 2rem;
  margin-top: 10px;
  /* border: 1px solid red; */
  margin-bottom: 5rem;
}

/*Responsive*/

/*1340px*/
@media screen and (max-width: 1340px) {
  .cards__section {
    grid-template-columns: repeat(3, minmax(300px, 1fr));
  }
}

/*1024px*/
@media screen and (max-width: 1024px) {
  .cards__section {
    grid-template-columns: repeat(2, minmax(300px, 1fr));
  }
}

/*768px*/
@media screen and (max-width: 768px) {
  .cards__section {
    grid-template-columns: repeat(1, minmax(300px, 1fr));
  }
}

/*480px*/
@media screen and (max-width: 480px) {
  .cards__section{
    padding: 0 0.5rem;
  }
}

/*320px*/
@media screen and (max-width: 320px) {
  .cards__section{
    padding: 0 0.2rem;
  }
}