.card {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  margin: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  max-width: 300px;
}

.type {
  z-index: 1;
  position: absolute;
  top: 5%;
  left: 0;
  padding: 0.5rem 1rem;
  background: var(--primary);
  color: #fff;
  font-size: 0.9rem;
  font-weight: 700;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
  border-radius: 0 5px 5px 0;
}

.card__image {
  width: 100%;
  height: 200px;
  margin-bottom: 1rem;
}

.card__image:hover {
  transform: scale(1.05);
  transition: all 0.2s ease-in-out;
}

.card__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.details {
  padding: 0 1rem;
  color: rgb(102, 101, 101);
  /* border: 1px solid red; */
}

.price__section {
  font-size: 1.1rem;
  display: flex;
  align-items: center;
}

.heart {
  font-size: 1.2rem;
  margin-left: auto;
  cursor: pointer;
  color: var(--primary);
}

.title {
  color: black;
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.address {
  font-size: 0.9rem;
  font-weight: 400;
}

.line__break{
  margin-top: 0.8rem;
  border-bottom: 1px solid #ccc;
}
.footer__section {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 1.2rem;
  margin-bottom: 0.8rem;
  gap: 1rem;
}

.footer__section p {
  font-size: 0.9rem;
  font-weight: 400;
}

.footer__logo {
  color: var(--primary);
  margin-right: 0.5rem;
}

.bhk,
.area {
  display: flex;
  align-items: center;
}

.area sup{
  font-size: 0.6rem;
}

.featured {
  margin-left: auto;
  color: white;
  font-size: 0.8rem;
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
  background-color: var(--primary);
  font-family: Georgia, Times, "Times New Roman", serif;
}

/*Responsive*/

/*1200px*/
@media screen and (max-width: 1200px) {
  .card {
    margin: 10px;
  }
}

/*368px*/
@media screen and (max-width: 368px) {
  .card {
    max-width: 280px;
  }
}
