.navbar {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 100;
  padding: 0 2rem;
  background: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 4rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.selected{
  background-color: var(--primary);
  color: white;
  border-radius: 5px;
  padding: 5px 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav__items {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  list-style: none;
}

.nav__items li:not(.heading) {
  margin: 0 0.6rem;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.nav__items li:not(.heading):hover {
  transform: scale(1.07);
}

.nav__logo {
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;
  margin-right: 0.7rem;
  color: var(--primary);
}

.heading {
  font-size: 1.5rem;
  font-weight: 700;
  margin-right: 1rem;
  color: var(--primary);
}

.searchbox {
  margin-left: auto;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border: 1px solid rgb(142, 141, 141);
  border-radius: 0.5rem;
  margin-right: 0.6rem;
}

.searchbox input {
  border: none;
  outline: none;
  background-color: transparent;
}

.login__button {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: var(--primary);
  color: #fff;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.login__button:hover {
  transform: scale(1.05);
}

/*Responsive*/
/*1200px*/
@media screen and (max-width: 1200px) {
  .navbar {
    padding: 0 1rem;
  }
  .nav__items li:not(.heading) {
    margin: 0 0.4rem;
  }
  .nav__logo {
    font-size: 1.3rem;
  }
  .heading {
    font-size: 1.3rem;
  }
  .searchbox {
    margin-right: 0.4rem;
  }
}

/*1024px*/
@media screen and (max-width: 1024px) {
  .navbar {
    padding: 0 0.5rem;
  }
  .nav__items li:not(.heading) {
    margin: 0 0.2rem;
  }
  .nav__logo {
    font-size: 1.1rem;
  }
  .heading {
    font-size: 1.1rem;
  }
  .searchbox {
    margin-right: 0.2rem;
  }
}

/*768px*/
@media screen and (max-width: 768px) {
  .navbar {
    padding: 0 0.5rem;
    height: 3.5rem;
  }
  .selected{
    padding: 3px 5px;
  }
  .nav__items li:not(.heading) {
    margin: 0 0.2rem;
  }
  .nav__logo {
    font-size: 1.1rem;
  }
  .heading {
    font-size: 1.1rem;
  }
  .searchbox {
    display: none;
  }
  .login__button {
    margin-left: auto;
  }
}

/*480px*/
@media screen and (max-width: 480px) {
  .navbar {
    padding: 0 0.5rem;
    height: 2.7rem;
  }
  .selected{
    padding: 2px 4px;
  }
  .nav__items li:not(.heading) {
    margin: 0 0.2rem;
    font-size: 0.8rem;
  }
  .nav__logo {
    font-size: 1.1rem;
    margin-right: 0.4rem;
  }
  .heading {
    font-size: 1.1rem;
    margin-right: 0.5rem;
  }
  .login__button {
    margin-left: auto;
    padding: 0.4rem 0.5rem;
    font-size: 0.7rem;
  }
}

/*414px*/
@media screen and (max-width: 414px) {
  .login__button {
    display: none;
  }
}

/*320px*/
@media screen and (max-width: 320px) {
  .navbar {
    padding: 0 0.2rem;
    height: 2.2rem;
  }
  .nav__items li:not(.heading) {
    margin: 0 0.2rem;
  }
  .nav__logo {
    font-size: 0.8rem;
  }
  .heading {
    font-size: 0.8rem;
  }
  .login__button {
    display: none;
  }
}
